.contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
}

.texto-encima {
    position: absolute;
    top:10px;
    left: 10px;
    color : white;
    font-weight: bold;
    font-size: 1.2em;
    
}

.centrado {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color : white;
    font-weight: bold;
    font-size: 1.2em;
    
} 

